<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Catalog</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h2>Welcome to Product Catalog</h2>
    <div class="form-container">
        <div class="button-group">
            <a href="/products/add"><button>Add Product</button></a>
            <a href="/products/display"><button>Display Products</button></a>
        </div>
    </div>
</div>
</body>
</html>
